.first-view-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
}

.main-container {
  display: flex;
  width: 80vw;
  height: 75vh;
  box-shadow: rgba(165, 160, 160, 0.458) 0px 5px 15px;
  background-color: #1f263c;
  border-radius: 20px;
  align-items: center;
}

.text-flex {
  padding: 20px;
  text-align: center;
  flex: 6;
}

.image-flex {
  flex: 6;
  height: 100%;
}

.image {
  border-radius: 20px;
  object-fit: fill;
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  h1 {
      font-size: 35px !important;
  }
  .main-container {
    flex-direction: column;
  }
}
